<div id="disqus_thread"></div>
<script data-cfasync="false" type="text/javascript">
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */

    if (typeof disqus_config !== 'undefined') {
        var _old_disqus_config = disqus_config;
    }
    var disqus_config = function() {
        if (typeof _old_disqus_config !== 'undefined') {
            _old_disqus_config.apply(this);
        }
        this.page.url = '{{ disqusUrl }}';
        this.page.identifier = '{{ disqusIdentifier }}';
        this.page.title = '{{ disqusTitle }}';
        this.page.category_id = '{{ disqusCategoryId }}';
        this.language = '{{ disqusLanguage }}';
        {% if useSSO -%}
        this.page.remote_auth_s3 = '{{ message }} {{ hmac }} {{ timestamp }}';
        this.page.api_key = '{{ disqusPublicKey }}';
        {% if useCustomLogin -%}
        this.sso = {
            name:   "{{ loginName }}",
            button: "{{ loginButton }}",
            icon:   "{{ loginIcon }}",
            url:    "{{ loginUrl }}",
            logout: "{{ loginLogoutUrl }}",
            width:  "{{ loginWidth }}",
            height: "{{ loginHeight }}"
        };
        {% endif -%}
        {% endif -%}

    };

    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');

        s.src = '//{{ disqusShortname }}.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
